
    <div class="card h-100">
      <div class="card-header bg-dark">
        <h5 class="card-title text-white">Coordonnées</h5>
      </div>
      <div class="card-body d-flex flex-column bg-dark bg-opacity-25">
        <div class="row text-white">
          <div class="">
            <h6 class="card-subtitle mb-2 text-muted">Ville </h6>
            <p class="card-text text-danger">{{ cityMetaData }}</p>
          </div>
          <div class="mt-1">
            <h6 class="card-subtitle mb-2 text-muted">Axe X</h6>
            <p class="card-text text-danger">{{ geoPositionMetaDataX }}</p>
          </div>
          <div class="mt-1">
            <h6 class="card-subtitle mb-2 text-muted">Axe Y</h6>
            <p class="card-text text-danger">{{ geoPositionMetaDataY }}</p>
          </div>
        </div>
      </div>
    </div>